/*****************************/
/* fonts.less - custom fonts */
/*****************************/

// load raleway bold font
@font-face {
    font-family: RalewayBold;
    src: url('../fonts/ralewaybold.ttf');
}

// load alegreya bold italic font
@font-face {
    font-family: AlegreyaBoldItalic;
    src: url('../fonts/alegreyabolditalic.ttf');
}
html {
    font-family: AlegreyaBoldItalic;
}
h1, h2, h3, h4, h5, h6 {
    font-family: RalewayBold;
}
