/******************************************************************************/
/* resources.less - importer file for custom fonts, images, breakpoints, etc. */
/******************************************************************************/
/****************************************************/
/* breakpoints.less - responsive design breakpoints */
/****************************************************/
/*********************************************/
/* containers.less - preset container styles */
/*********************************************/
/**********************************************************/
/* reset.less - override some default css values sitewide */
/**********************************************************/
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  /* scrollbars */
  overflow-y: scroll;
  ms-overflow-style: none;
  scrollbar-width: none;
}
a {
  text-decoration: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/**************************************/
/* colors.less - custom color palette */
/**************************************/
/*****************************/
/* fonts.less - custom fonts */
/*****************************/
@font-face {
  font-family: Carrois;
  src: url('../fonts/carrois.ttf');
}
html {
  font-family: Carrois;
}
#root {
  height: 100%;
  width: 100%;
}
#root #titlebar {
  height: 96px;
  width: 100%;
}
#root #app {
  display: block;
  height: calc(100% - 96px);
  width: 100%;
  overflow-y: scroll;
}
#root #titlebar {
  background: white;
  display: grid;
  grid-template-columns: calc(50% - 150px) 300px calc(50% - 150px);
  grid-template-rows: 72px 24px;
}
#root #titlebar #logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  flex-direction: row;
}
#root #titlebar #logo-container img#logo-img {
  height: 72px;
  width: 72px;
  margin: unset;
  margin-left: auto;
}
#root #titlebar #logo-container #logo-contact {
  padding: 2px 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #818285;
  margin-right: auto;
  width: calc(100% - 72px);
  height: 100%;
}
#root #titlebar #logo-container #logo-contact p {
  font-size: 20px;
}
#root #titlebar #logo-container #logo-smallscreen-err {
  display: none;
}
#root #titlebar #nav {
  background: white;
  grid-column: 1 / span 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #titlebar #nav a,
#root #titlebar #nav a:visited,
#root #titlebar #nav a:hover {
  color: #137FC8;
}
#root #titlebar #nav a {
  display: inline-block;
  margin: auto 12px;
  font-size: 18px;
}
@media (min-width: 750px) {
  #root #titlebar {
    grid-template-columns: 50% 50%;
    grid-template-rows: 96px;
  }
  #root #titlebar #logo-container {
    grid-row: 1;
    grid-column: 1;
  }
  #root #titlebar #logo-container #logo-contact {
    width: unset;
  }
  #root #titlebar #nav {
    grid-row: 1;
    grid-column: 2;
  }
  #root #titlebar #nav a {
    font-size: 22px;
  }
}
#root #app #home {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("images/lifestoriescompanyphoto.jpeg");
  background-size: cover;
}
#root #app #home #home-gradient {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  color: white;
}
#root #app #home #home-gradient #home-txt {
  height: 100%;
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 64px;
}
#root #app #home #home-gradient #home-txt h1 {
  font-size: 36px;
}
#root #app #home #home-gradient #home-txt h2 {
  font-size: 24px;
}
#root #app #home #home-gradient #home-txt #viewportfolio {
  margin-top: 8px;
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #app #home #home-gradient #home-txt #viewportfolio #viewportfoliobtn,
#root #app #home #home-gradient #home-txt #viewportfolio #viewportfoliobtn:visited,
#root #app #home #home-gradient #home-txt #viewportfolio #viewportfoliobtn:hover {
  color: white;
}
#root #app #home #home-gradient #home-txt #viewportfolio #viewportfoliobtn {
  font-size: 36px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: 1px solid white;
  padding: 8px;
  transition: background 0.25s;
}
#root #app #home #home-gradient #home-txt #viewportfolio #viewportfoliobtn:hover {
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 750px) {
  #root #app #home #home-gradient #home-txt {
    height: 100%;
    width: 50%;
    position: relative;
    left: 50%;
    padding-left: 0px;
  }
}
@media (min-width: 1200px) {
  #root #app #home #home-gradient #home-txt {
    padding-left: 256px;
  }
}
#root #app #portfolio {
  width: 100%;
}
#root #app #portfolio h1 {
  font-size: 32px;
  margin: 24px 0;
  text-align: center;
}
#root #app #portfolio h2 {
  font-size: 24px;
  margin: 12px 0px;
  text-align: center;
}
#root #app #portfolio #portfolio-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 100%;
}
@media (min-width: 600px) {
  #root #app #portfolio #portfolio-nav {
    flex-direction: row;
    height: 24px;
  }
  #root #app #portfolio #portfolio-nav a {
    padding: 0 12px 0 0;
  }
}
#root #app #portfolio .project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}
#root #app #portfolio .project-container .project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root #app #portfolio .project-container .project .projectimg {
  height: 184px;
  margin: 0 auto;
}
@media (min-width: 450px) {
  #root #app #portfolio .project-container .project .projectimg {
    height: 280px;
  }
}
#root #app #portfolio .project-container .project .testimonial-container {
  text-align: center;
}
#root #app #portfolio .project-container .project .testimonial-container .testimonial {
  font-style: italic;
  padding: 12px;
}
@media (min-width: 900px) {
  #root #app #portfolio .project-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  #root #app #portfolio .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#root #app #about {
  padding: 10px;
  width: 100%;
}
#root #app #about h1 {
  font-size: 32px;
  margin: 24px 0;
  text-align: center;
}
#root #app #about h2 {
  font-size: 24px;
  margin: 12px 0;
  text-align: center;
}
#root #app #about #chad-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 256px auto;
}
#root #app #about #chad-container #chad-img {
  background: pink;
  height: 256px;
  text-align: center;
  margin: auto;
}
#root #app #about #chad-container #chad-txt {
  width: 100%;
}
@media (min-width: 450px) {
  #root #app #about #chad-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: unset;
  }
}
#root #app #contact {
  padding: 10px;
  text-align: center;
  width: 100%;
}
#root #app #contact #contact-form {
  display: grid;
  grid-template-columns: 100px calc(100% - 112px);
  grid-template-rows: 50px 50px 50px auto;
  grid-row-gap: 24px;
  grid-column-gap: 12px;
}
#root #app #contact #contact-form label {
  line-height: 3;
}
#root #app #contact #contact-form #request {
  padding: 10px;
  border-radius: 10px;
}
#root #app #contact #contact-form #submit {
  grid-column-end: span 2;
  width: 200px;
  margin: auto;
}
@media (min-width: 600px) {
  #root #app #contact #contact-form {
    grid-template-columns: 100px calc(50% - 118px) 100px calc(50% - 118px);
    grid-template-rows: 50px 50px auto;
  }
  #root #app #contact #contact-form #subject,
  #root #app #contact #contact-form #request {
    grid-column-end: span 3;
  }
  #root #app #contact #contact-form #submit {
    grid-column-end: span 4;
  }
}
