/******************************************************************************/
/* resources.less - importer file for custom fonts, images, breakpoints, etc. */
/******************************************************************************/
/****************************************************/
/* breakpoints.less - responsive design breakpoints */
/****************************************************/
/*********************************************/
/* containers.less - preset container styles */
/*********************************************/
/**********************************************************/
/* reset.less - override some default css values sitewide */
/**********************************************************/
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  /* scrollbars */
  overflow-y: scroll;
  ms-overflow-style: none;
  scrollbar-width: none;
}
a {
  text-decoration: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/**************************************/
/* colors.less - custom color palette */
/**************************************/
/*****************************/
/* fonts.less - custom fonts */
/*****************************/
@font-face {
  font-family: Aaargh;
  src: url('../fonts/aaargh.ttf');
}
@font-face {
  font-family: Codec;
  src: url('../fonts/codec.ttf');
}
@font-face {
  font-family: Tutor;
  src: url('../fonts/tutor.ttf');
}
#root {
  height: 100%;
  width: 100%;
}
#root #titlebar {
  height: 100%;
  width: 100%;
}
#root #app {
  display: none;
}
@media (min-height: 300px) and (min-width: 300px) {
  #root #titlebar {
    height: 96px;
  }
  #root #app {
    display: block;
    height: calc(100% - 96px);
    width: 100%;
    overflow-y: scroll;
  }
}
#root #titlebar {
  background: red;
}
#root #titlebar > #logo-container {
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#root #titlebar > #logo-container img#logo-img {
  display: box;
  height: 72px;
  width: 72px;
  margin: auto;
}
#root #titlebar > #logo-container #logo-contact {
  height: 24px;
  width: 100%;
  text-align: center;
}
#root #titlebar > #logo-container #logo-smallscreen-err {
  height: 48px;
  width: 100%;
  text-align: center;
}
#root #nav {
  display: none;
}
@media (min-height: 300px) and (min-width: 300px) {
  #root #titlebar {
    display: grid;
    grid-template-columns: calc(50% - 144px) 288px calc(50% - 144px);
    grid-template-rows: 64px 32px;
  }
  #root #titlebar #logo-container {
    grid-column: 2;
    grid-row: 1;
    flex-direction: row;
  }
  #root #titlebar #logo-container img#logo-img {
    height: 64px;
    width: 64px;
    margin: unset;
    margin-left: auto;
  }
  #root #titlebar #logo-container #logo-contact {
    margin-right: auto;
    width: unset;
  }
  #root #titlebar #logo-container #logo-smallscreen-err {
    display: none;
  }
  #root #titlebar #nav {
    background: yellow;
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root #titlebar #nav a {
    display: inline-block;
    margin: auto 12px;
  }
}
#root #app #home,
#root #app #portfolio,
#root #app #about,
#root #app #contact {
  background: cyan;
  margin-bottom: 24px;
  width: 100%;
}
#root #app #home {
  padding: 10px;
  text-align: center;
}
#root #app #portfolio {
  padding: 10px;
  text-align: center;
}
#root #app #portfolio #project-container {
  background: blue;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 200px;
  padding: 10px;
}
#root #app #portfolio #project-container .project {
  background: pink;
  height: 184px;
  width: 184px;
  margin: 0 auto;
}
@media (min-width: 450px) {
  #root #app #portfolio #project-container {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 600px) {
  #root #app #portfolio #project-container {
    grid-auto-rows: 275px;
  }
  #root #app #portfolio #project-container .project {
    height: 256px;
    width: 256px;
  }
}
@media (min-width: 900px) {
  #root #app #portfolio #project-container {
    grid-template-columns: 33.3% 33.4% 33.3%;
  }
}
#root #app #about {
  padding: 10px;
  text-align: center;
}
#root #app #about #chad-container {
  background: blue;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 256px auto;
}
#root #app #about #chad-container #chad-img {
  background: pink;
  height: 256px;
  width: 144px;
  text-align: center;
  margin: auto;
}
#root #app #about #chad-container #chad-txt {
  background: pink;
  width: 100%;
}
@media (min-width: 450px) {
  #root #app #about #chad-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: unset;
  }
}
#root #app #contact {
  padding: 10px;
  text-align: center;
}
#root #app #contact #contact-form {
  display: grid;
  grid-template-columns: 100px calc(100% - 112px);
  grid-template-rows: 50px 50px 50px auto;
  grid-row-gap: 24px;
  grid-column-gap: 12px;
}
#root #app #contact #contact-form label {
  line-height: 3;
}
#root #app #contact #contact-form #submit {
  grid-column-end: span 2;
  width: 200px;
  margin: auto;
}
@media (min-width: 600px) {
  #root #app #contact #contact-form {
    grid-template-columns: 100px calc(50% - 118px) 100px calc(50% - 118px);
    grid-template-rows: 50px 50px auto;
  }
  #root #app #contact #contact-form #subject,
  #root #app #contact #contact-form #request {
    grid-column-end: span 3;
  }
  #root #app #contact #contact-form #submit {
    grid-column-end: span 4;
  }
}
