/******************************************************************************/
/* resources.less - importer file for custom fonts, images, breakpoints, etc. */
/******************************************************************************/
/****************************************************/
/* breakpoints.less - responsive design breakpoints */
/****************************************************/
/*********************************************/
/* containers.less - preset container styles */
/*********************************************/
/**********************************************************/
/* reset.less - override some default css values sitewide */
/**********************************************************/
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  /* scrollbars */
  overflow-y: scroll;
  ms-overflow-style: none;
  scrollbar-width: none;
}
a {
  text-decoration: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/**************************************/
/* colors.less - custom color palette */
/**************************************/
/*****************************/
/* fonts.less - custom fonts */
/*****************************/
@font-face {
  font-family: Aaargh;
  src: url('../fonts/aaargh.ttf');
}
@font-face {
  font-family: Codec;
  src: url('../fonts/codec.ttf');
}
@font-face {
  font-family: Tutor;
  src: url('../fonts/tutor.ttf');
}
#root {
  height: 100%;
  width: 100%;
}
#root #titlebar {
  height: 100%;
  width: 100%;
}
#root #app {
  display: none;
}
@media (min-height: 300px) and (min-width: 300px) {
  #root #titlebar {
    height: 96px;
  }
  #root #app {
    display: block;
    height: calc(100% - 96px);
    width: 100%;
  }
}
#root #titlebar > #logo-container {
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#root #titlebar > #logo-container img#logo-img {
  display: box;
  height: 72px;
  width: 72px;
  margin: auto;
}
#root #titlebar > #logo-container #logo-contact {
  height: 24px;
  width: 100%;
  text-align: center;
}
#root #titlebar > #logo-container #logo-smallscreen-err {
  height: 48px;
  width: 100%;
  text-align: center;
}
#root #nav {
  display: none;
}
@media (min-height: 300px) and (min-width: 300px) {
  #root #titlebar {
    background: red;
    display: grid;
    grid-template-columns: calc(50% - 144px) 288px calc(50% - 144px);
    grid-template-rows: 64px 32px;
  }
  #root #titlebar #logo-container {
    grid-column: 2;
    grid-row: 1;
    flex-direction: row;
  }
  #root #titlebar #logo-container img#logo-img {
    height: 64px;
    width: 64px;
    margin: unset;
    margin-left: auto;
  }
  #root #titlebar #logo-container #logo-contact {
    margin-right: auto;
    width: unset;
  }
  #root #titlebar #logo-container #logo-smallscreen-err {
    display: none;
  }
  #root #titlebar #nav {
    background: yellow;
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root #titlebar #nav a {
    display: inline-block;
    margin: auto 12px;
  }
}
#root #app {
  background: green;
  padding: 24px;
}
#root #app #home,
#root #app #portfolio,
#root #app #about,
#root #app #contact {
  background: cyan;
  margin-bottom: 24px;
  width: 100%;
}
