// app.less - custom styles

#app {
    #home, #portfolio, #about, #contact {
        background: cyan;
        display: grid;
        grid-template-rows: 100px calc(100% - 150px) 50px;
        grid-template-columns: 100%;
        margin-bottom: 24px;
        width: 100%;
    }
    @import "app/landingpage";
    @import "app/portfoliopage";
    @import "app/aboutpage";
    @import "app/contactpage";
}
