// app.less - custom styles

#app {
    @import "app/homesection";
    @import "app/portfoliosection";
    @import "app/aboutsection";
    @import "app/contactsection";
}

.section-title {
    font-size: 32px;
    margin: 24px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
