// app.less - custom styles

#app {
    background: green;
    padding: 24px;

    #home, #portfolio, #about, #contact {
        background: cyan;
        margin-bottom: 24px;
        width: 100%;
    }

}
