// titlebar.less - custom styles

#titlebar {
    background: white;
    display: grid;
    grid-template-columns: calc(50% - 150px) 300px calc(50% - 150px);
    grid-template-rows: 64px 32px;
    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
        grid-row: 1;
        flex-direction: row;
        img#logo-img {
            height: 64px;
            width: 64px;
            margin: unset;
            margin-left: auto;
        }
        #logo-contact {
            padding: 0px 12px;
            color: #818285;
            margin-right: auto;
            width: unset;
        }
        #logo-smallscreen-err {
            display: none;
        }
    }

    #nav {
        background: white;
        grid-column: 1 / span 3;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        a, a:visited, a:hover {
            color: #137FC8;
        }
        a {
            display: inline-block;
            margin: auto 12px;
        }
    }
}

@media @widths[750] {
    #titlebar {
        grid-template-columns: 50% 50%;
        grid-template-rows: 96px;
        #logo-container {
            grid-row: 1;
            grid-column: 1;
        }
        #nav {
            grid-row: 1;
            grid-column: 2;
        }
    }
}
