// aboutsection.less - custom styles

#about {
    padding: 10px;
    width: 100%;

    h2 {
        font-size: 24px;
        margin: 12px 0;
        text-align: center;
    }

    #chad-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 356px auto;
        #chad-img {
            background: pink;
            height: 356px;
            text-align: center;
            margin: auto;
            @media @widths[900] {
                height: 512px;
            }
        }
        #chad-txt {
            width: 100%;
            p {
                margin-top: 24px;
            }
            p:last-child {
                margin-top: 0;
            }
        }
        @media @widths[900] {
            grid-template-columns: 50% 50%;
            grid-template-rows: unset;
        }
    }
    #team-container {
        padding-top: 48px;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 24px;
        @media @widths[450] {
            grid-template-columns: 50% 50%;
        }
        @media @widths[750] {
            grid-template-columns: 25% 25% 25% 25%;
        }
        .team-member {
            display: grid;
            grid-template-rows: 200px 20px 20px auto;
            @media @widths[450] {
                grid-template-rows: 150px 20px 20px auto;
            }
            @media @widths[1200] {
                grid-template-rows: 200px 20px 20px auto;
            }
            img {
                margin: 0 auto;
                height: 200px;
                width: 200px;
                @media @widths[450] {
                    height: 150px;
                    width: 150px;
                }
                @media @widths[1200] {
                    height: 200px;
                    width: 200px;
                }
            }
            h3, h4, p {
                text-align: center;
            }
            h3, h4{
                color: #137FC8;
            }
            p {
                color: #818285;
            }
        }
    }
}
