// app.less - custom styles

#app {
    #home, #portfolio, #about, #contact {
        background: cyan;
        display: grid;
        grid-template-rows: 100px calc(100% - 150px) 50px;
        grid-template-columns: 100%;
        margin-bottom: 24px;
        width: 100%;
    }
    #home {
        padding: 10px;
        text-align: center;
    }

    #portfolio {
        padding: 10px;
        text-align: center;

        #project-container {
            background: blue;
            display: grid;
            grid-template-columns: 100%;
            grid-auto-rows: 200px;

            padding: 10px;
            .project {
                background: pink;
                height: 184px;
                width: 184px;
                margin: 0 auto;
            }
            
            @media @widths[450] {
                grid-template-columns: 50% 50%;
            }
            @media @widths[600] {
                grid-auto-rows: 275px;
                .project {
                    height: 256px;
                    width: 256px;
                }
            }
            @media @widths[900] {
                grid-template-columns: 33.3% 33.4% 33.3%;
            }
        }
    }

    #about {
        padding: 10px;
        text-align: center;

        #chad-container {
            background: blue;
            display: grid; 
            grid-template-columns: 100%;
            grid-template-rows: 256px auto;
            #chad-img {
                background: pink;
                height: 256px;
                width: 144px;
                text-align: center;
                margin: auto;
            }
            #chad-txt {
                background: pink;
                width: 100%;
            }
            @media @widths[450] {
                grid-template-columns: 50% 50%;
                grid-template-rows: unset;
            }
        }
    }
    #contact {
        padding: 10px;
        text-align: center;
        
        #contact-form {
            display: grid; 
            grid-template-columns: 100px calc(100% - 112px);
            grid-template-rows: 50px 50px 50px auto;
            grid-row-gap: 24px;
            grid-column-gap: 12px;
            label {
                line-height: 3;
            }
            #submit {
                grid-column-end: span 2;
                width: 200px;
                margin: auto;
            }
            @media @widths[600] {
                grid-template-columns: 100px calc(50% - 118px) 100px calc(50% - 118px);
                grid-template-rows: 50px 50px auto;
                #subject, #request {
                    grid-column-end: span 3;
                } 
                #submit {
                    grid-column-end: span 4;
                }
            }
        }
    }
}
