// homesection.less - custom styles

#home {
    text-align: center;
    height: 100%;
    width: 100%;

    background-image: url("images/lifestoriescompanyphoto.jpeg");
    background-size: cover;
    
    #home-gradient {
        height: 100%;
        width: 100%;
        color: white;
        
        #home-txt {
            height: 50%;
            padding: 32px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            padding-left: 12.5%;
            transition: padding-left 0.5s;
            h1 {
                font-size: 36px;
                font-family: RalewayBold;
                font-weight: 500;
            }
            h2 {
                font-size: 24px;
                font-family: AlegreyaBoldItalic;
            }

            #viewportfolio {
                margin-top: 8px;
                height: 72px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                #viewportfoliobtn, #viewportfoliobtn:visited, #viewportfoliobtn:hover {
                    color: white;
                }
                
                #viewportfoliobtn {
                    font-size: 24px;
                    @media @widths[600] {
                        font-size: 32px;
                    }
                    font-family: RalewayBold;
                    font-weight: 500;
                    text-transform: uppercase;
                    background: rgba(0, 0, 0, 0);
                    border-radius: 4px;
                    border: 1px solid white;
                    padding: 8px;
                    transition: background 0.25s;
                }
                #viewportfoliobtn:hover {
                    background: rgba(0, 0, 0, 0.5);
                }
            }
            @media @widths[600] {
                padding-left: 25%;
            }
        }
    }
}
